
.body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible{
    display: flex;
    margin-bottom: 10%;
}
.border-color{
    border-left: 6px solid orange;
    border-radius: 2px;
    font-weight: 700;
    font-size:x-large;
}
.half-width{
    width: 50%;
    text-align: justify;
    margin-left: 20px;
    padding:80px 150px 0px
    50px ;
}
.button{
    text-decoration: none;
    background-color: rgb(233, 185, 27);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.orange{
    color: orange;
    font-weight: 700;
}
.half-width img{
    width:320px;
    margin-left: 25%;
}
.lekha{
    text-align: center;
    font-weight: 700;
   
}

.missions{
    width: 40%;
    padding: 30px;
    
     
    border-radius: 9px;
}
.mission-color1{
    background-color: aquamarine;
    margin-left: 50px;
    margin-right: 20px;
}
.mission-color2{
background-color: bisque;
margin-left:    10px;
margin-right: 10px;
}
.mission-color3{
background-color: blueviolet;
margin-left: 20px;
margin-right: 50px;
}
.missions img{
    width: 40%;
}

.develop-img img{
    width:320px;
    margin-left: 60px;
}

.develop-portion{
    width: 45%;
    text-align: justify;
    margin-left: 40px;
    padding:50px;
}
.dev-lekha{
    font-weight: 700;
}
.dev-background{
    background-image:url(images/shapes/shape-1.png) ;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 12%;
}

.half-width1{
    width: 50%;
    text-align: justify;
    margin-right: 20px;
    margin-left: 80px;
    padding-top:80px ;
    
}
footer{
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px;
}